.wall-input {
  background-color: var(--wall-input-background);
  border-radius: 15px;
  padding: 15px 30px;
  box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.2);
}

.container-title-wall {
  display: flex;
  justify-content: space-between;
}

.container-title-wall  img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.wall-input h5 {
  font-size: var(--title-medium-size);
  font-weight: 500;
}

.container-inputs-wall > div {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  margin: 20px 0;
}

.container-inputs-wall > h5 {
  font-size: var(--title-small-size);
}

.container-inputs-wall .warning {
  max-width: fit-content;
  padding: 10px 20px;
}