.about-calculation {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.about-calculation h3 {
  font-size: var(--title-medium-size);
  font-weight: 500;
}

.about-calculation > h4 {
  font-size: var(--text-medium-size);
  font-weight: 550;
}

.about-calculation > p {
  font-size: var(--text-medium-size);
  font-weight: 350;
}

.about-calculation ol > li {
  font-weight: 550;
  font-size: var(--text-medium-size);
}

.about-calculation ol li {
  line-height: 40px;
}

.about-calculation ol li > ul {
  margin-left: 20px;
}